.characters-page__heading {
  margin-left: 27%;
}

.characters-page__search {
  border: none;
  margin-bottom: 30px;
  max-width: 500px;
  width: 100%;
  margin-left: 29%;
}

.characters-page__search--input {
  max-width: 375px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0.5em;
  border: none;
}

.characters-page__search--box {
  margin: 15px;
}

.characters-page__search--btn {
  border: none;
  background: transparent;

  &:hover {
    cursor: pointer;
    color: gray;
  }
}

.characters {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.character__card {
  max-width: 300px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5%;
  background-color: darkorange;
}

.character__info {
  margin: 35px;
}

.character__details {
  margin-top: 10px;
}

.character__details--btn {
  border: none;
  background-color: orange;
  color: white;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background-color: lightgreen;
  }
}
